*{
    margin: 0px auto;
    text-align: center;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color:lightgray
}
#main{
    width:95%;
    background-color: white;
    height: 300px;
}
#header{
    padding: 30px 50px;
}
#menu{
    background-color: aqua;
    height: 400px;
}
#section{
    display: flex;
}
#lsidebar{
    width: 20px;
    height: 450px;
    background-color: cornflowerblue;
}
#container{
    width: 100px;
    height: 450px;
    background-color: darkorange;
}
#rsidebar{
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
}
#footer{
    background-color: crimson;
    height: 30px;
    color: white;
}

/*media query */
@media screen (min-width:500px) {
    section{
        display: block;
    }
}